NODE_ENV=development
PORT=5000

MONGO_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/typec?retryWrites=true&w=majority
JWT_SECRET=paste-a-long-random-string-here-at-least-32-characters

BREVO_API_KEY=
MAIL_FROM_EMAIL=
MAIL_FROM_NAME=TypeC
CONTACT_INBOX=

TIMEZONE=Asia/Manila
TRUST_PROXY=1
